body {
    background: $light;
    color: #545459;
}

.main {
    min-height: calc(100vh - 30rem);
}

.empty-state-msg {
    color: $gray-600;
}

.card--styled {
    background: white;
    border: 1px solid $gray-300;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
    border-radius: 0;

    .card-body,
    .card-header,
    .card-footer {
        padding: 1.5rem 3rem;
    }
}

.white-space-pre-line {
    white-space: pre-line;
}

// Styles Project/Thesis title in cards
.project {
    &__title,
    a.project__title {
        display: block;
        font-weight: 700;
        color: $body-color;
        border-bottom: 1px solid $light-gray;
        padding-bottom: .5rem;
        margin-bottom: .5rem;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    &__type {
        font-weight: 700;
        float: right;
        padding-right: 2rem;
    }
}

// Styles committee member links in cards
a.card-header:hover {
    color: $primary;
    text-decoration: none;
}
a.project__committee {
    color: #55565a;
    text-decoration: none;
}
a:hover.project__committee {
    color: $primary;
    text-decoration: underline;
}