.btn--feedback {
    position: fixed;
    top: 50%;
    right: -1px;
    background-color: #000;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    z-index: 10000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
}

.FAC-searchForFac{
    font-size:3rem;
    letter-spacing: 2px;
    font-weight:100;
}

#landingPage .btn-primary{
    background: $csunred;
    width:100%;
    
}
#landingPage .fa-search{
    color:white;
}
#landingPage .btn{
    padding: 0.45rem 1rem;
    border-radius:0;
    border:none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

}
#landingPage .form-control{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}


#landingPage{
    min-height: calc(100vh - 275px);
}



// MEDIA QUERIES

@include media-breakpoint-down(xs){
    #landingPage .form-control{
        width:75%;
        margin-left:12%;
    }
    #landingPage .btn{
        width:75%;
        margin-left:12%;
        margin-top:10px;
    }
}
