.profileProject {
    &__title,
    a.profileProject__title {
        display: block;
        font-weight: 700;
        color: $body-color;
        border-bottom: 1px solid $light-gray;
        padding-bottom: .5rem;
        margin-bottom: .5rem;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    &__type {
        font-weight: 700;
        float: right;
        padding-right: 2rem;
    }
}

.projectFilterBar {
    display: none;
    margin-bottom: 3rem;

    &.active {
        display: block;
    }

    &__badge {
        font-size: 1.4rem;
        display: none;

        &.active {
            display: inline-block;
        }
    }

    &__remove {
        cursor: pointer;
        padding: 0.3rem 0.5rem;
    }
}

.projectFilterList {

    @include media-breakpoint-down(sm){
        float: left;
        padding-left: 0.7rem;
        padding-right: 4.3rem;
    }

    &__clear {
        color: $primary;
        font-weight: 700;
        cursor: pointer;
        margin-top: 2rem;

        @include media-breakpoint-down(sm){
            float: left;
            width: 100%;
            margin-top: 0;
            margin-bottom: 3rem;
        }

        &:hover {
            text-decoration: underline;
        }  
    }
}