.searchBanner {
    &__title {
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
        }

        @include media-breakpoint-down(xs) {
            font-size: 2.8rem;
        }  
    }
}

.profile-card{
    height: 100%;;
    border-radius:5px;
    border: 1px solid $light-gray;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    color: $body-color;

    &:hover{ 
        border:solid 1px $csunred;
        text-decoration: none;
        color: $body-color;

        .card-title {
            color: $primary;
        }
    }

    &__img {
        width:30%;
        border-radius: 50%;
    }
}

.departmentHeader {

    &__title {
        border-bottom: 1px solid;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
    
    &__item {
        display:inline;
        white-space: nowrap;
        margin: 1rem 0;

        @include media-breakpoint-down(md) {
            display: block;
            width: 50%;
            float: left;
            margin-bottom: .5rem;
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            float: none;
            text-align: center;
        }

        svg {
            margin-right: .5rem;
        } 
    }
}
